<h1><%= @cake['Name'] %></h1>

<p><%= @cake['Description'] %></p>

<p> Rating: </p> <p><%= @average_rating['average_rating'] %></p>

<p>Pris:</p><p><%=@cake['Price']%></p>

<p>Reviews:</p><p> <%=@reviews['cake_reviews'.to_i]%> </p>

